    
body{

    background-image: url(./IMG/Star_of_life.svg.png);
    background-color: lightblue;
   background-size: 100%;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
   }

   header{
    color: aliceblue ;
    position: relative;
    justify-content: center;
    padding: 15px;
   }
    header h1.title{
        font-weight: 200;
    background: black;
    opacity: 0.7;
    width: 200px;
    } 

    header h2.fixed{
        position:fixed;
        color: rgb(71, 11, 11);
        top: 0;
        right: 0;
        opacity: 0.2;
        margin: 10px;
        padding: 10px;
    }
   
   .nav-container{
    background-color: grey;
    
   }

   header div.nav-container nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
   
}
    nav ul li{
        padding: 4px;
    margin: 8px;
    }
    
    nav ul li a{text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    }
    
    nav ul li a:hover{
        background-color: white;;
        color: rgb(31, 54, 72);
        border-radius: 10px;
    }
  

    section.mas-vendidos{
        text-align:-webkit-center
    }

     section.mas-vendidos h2{
    width: 300px;
    background-color: grey;
    }

     section.mas-vendidos article.contenedor-cursos{
        display: flex;
        border: outset;
        width: 60%;
        color: white;
        background-color: grey;
        opacity: 0.9;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        flex-flow: wrap-reverse;
        flex-direction: row;
        gap: 15px;
    }
     section.mas-vendidos article.contenedor-cursos img{
        color: white;
        border-radius: 15px;
        width: 40%;
       
    }
     section.mas-vendidos article.contenedor-cursos a{
        width: 20%;
        color: white;
        text-decoration: none;
        
}
        
         section.mas-vendidos article.contenedor-cursos h3{
        padding: 10px 0;
        background-color: grey;
        width: 30%;
        color: white;

    }
     section.view-more article.viewmore div.more img{
        width: 25%;
    }

     section.view-more article.viewmore div.more h3{
        background: black;
        width: 20%;
    }
     section.view-more article.viewmore div.more a{
    text-decoration: none;
    color: white;
    
}
     section.about-us p{
        padding: 2px;
        margin: 15px;
        background-color: grey;
        color: white;
        font-size: 25px;
       
    }

     section.maps span{
        color: white;
        background-color: #6c1f1f;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    section.maps article{
        display: flex;
        justify-content: center;    
    }
    
span.red-span{
color: white;
background: brown;
}
section.about-us{
display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align:start ;
}
  
    section.contacto{
        color: white;
        bottom: 0;
    }
    .datos-contacto{
        margin: 20px;
    }
    
    .linea-contacto{
        list-style: none;
        font-size: 25px;
        color: white;
        background-color: rgb(58, 10, 10);

    }

footer.footer-container div ul li a{
    text-decoration: none;
    color: white;
}
footer.footer-container div.copy-div{
    color: white;
    text-align: center;
    
}

    .footer-container{
        width: 100%;
        background-color: rgb(58, 10, 10);
        color: white;

   }


   @media screen and (max-width: 650px){

      header div.nav-container nav ul{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    section.mas-vendidos article.contenedor-cursos img{
        width: 60%;
    }
       section.view-more article.viewmore div.more img{
            width: 30%;
        }
}