body.proximamente{
    background-image: url(IMG/paramedicos.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
     }
     body.proximamente header div.inicio h3{
          position: fixed;
          color: white;
          margin: 2px;
          border-style: ridge;
          width: 10%;
          border-radius: 5px;
          padding: 12px;
      }
      body.proximamente header div.inicio h3 a{
          text-decoration: none;
          color: white;
      }
body.proximamente header h1, body.proximamente main section, body.proximamente footer{
     display: flex;
     justify-content: center;
     text-align: center;
     background-color: #6c1f1f;
     align-items: center;
}

     body.proximamente footer{
        bottom: 0px;
        position: 50%;
        
     }

    